@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500);


/*
/* GENERAL SETTINGS
/*
*/
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  text-align: center;
  font-size: 20px;
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
}

ul {
    display: block;
    list-style-type: none;
    margin: 0;
    padding-left: 0.5em;
}

/* POPUPS */

.splash,
.game-over {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  background-color: #fff;
  transition: top 0.3s;
}

.splash {
  z-index: 99;
}

.game-over {
  z-index: 88;
}

.finalResults {
  color: #aa7ecd;
  font-weight: 500;
  font-size: 1.25em;
  border-bottom: solid 0.1em #aa7ecd;
}

button {
  transition: 0.3s;
  display: inline-flex;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 1em;
  color: #02ccba;
  outline: none;
  outline-color: initial;
  outline-style: none;
  outline-width: initial;
  text-transform: uppercase;
  background-color: #fff;
  border: 0.1em solid #02ccba;
  border-radius: 1.5em;
  padding: 0.75em;
  margin: 2em;
  cursor: pointer;
}
button:hover {
  color: #aa7ecd;
  border: 0.1em solid #aa7ecd;
  background-color: #444;
}
/*
/* GAME
/*
*/
.game {
  background-color: #000;
  text-align: center;
  width: 100%;
  margin-top: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  text-align: center;
}

/* TOP PANEL */
.top-panel {
  width: 100%;
  height: 2em;
  background-color: #fff;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.lives,
.score {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.lives {
  align-items: center;
}

.hearts {
  display: inline-flex;
  flex-wrap: nowrap;
}
.hearts li {
  width: 1em;
  height: 1em;
  margin-left: 0.25em;
}
.points {
  text-align: right;
  width: 2.8em;
  height: 1em;
}

/* GAME CANVAS CONTAINER */
#canvas-container {
  text-align: center;
  display: block;
}
canvas {
  background-color: #000;
  width: 100%;
  max-width: 500px;
}



.controls {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  height: auto;
  width: 100%;
  min-width: 320px;
  z-index: 77;
}
.controls div:first-child {
  display: block;
}
.controls div:last-child {
  display: inline-flex;
}
.controls .arrow {
  background: url(../img/arrow.svg) no-repeat;
  height: 2.4em;
  width: 2.4em;
  opacity: 0.5;
  border: 0.2em solid #fff;
  border-radius: 0.2em;
  margin: 1em;
  cursor: pointer;
}
.controls .arrow:active {
  opacity: 1;
}
.controls #left {
  transform: rotate(-90deg);
}
.controls #right {
  transform: rotate(90deg);
}
.controls #down{
  transform: rotate(180deg);
}
.controls.hide {
  display: none;
}
